project/.phpunit.cache
project/node_modules
project/public/build
project/public/hot
project/public/storage
project/public/bucket
project/storage/*.key
project/vendor
project/.env
project/.env.backup
project/.env.production
project/.phpunit.result.cache
project/Homestead.json
project/Homestead.yaml
project/auth.json
project/npm-debug.log
project/yarn-error.log
/.fleet
/.idea
/.vscode
.git
project/.fleet
project/.idea
project/.vscode
project/.git